{% load crispy_forms_tags %}
{% load static %}


<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="mainModalLabel" aria-hidden="true" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modal_title}}</h5>
                <a href="{{url_back}}"><button class="btn-close"
                    data-bs-dismiss="modal" href="{{url_back}}" aria-label="Close"></button></a>
            </div>
            <div class="modal-body">
                <table class="display table table-striped text-center table-hover text-nowrap mt-3" style="width:100% ">
                    <thead style="background-color: var(--verde); color: var(--verdeocuro);">
                        <tr><th colspan="5">Compra No.{{factura.id}}</td></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="font-weight: 600" colspan="2">Fecha:</td>
                            <td colspan="3">{{factura.date}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: 600" colspan="2">Proveedor:</td>
                            <td colspan="3">{{factura.user}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: 600" colspan="1">Celular:</td>
                            <td colspan="1">{{factura.user.phone}}</td>
                            <td style="font-weight: 600" colspan="1">Correo:</td>
                            <td colspan="2">{{factura.user.email}}</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td style="font-weight: 600; font-size:20px" colspan="1">Total a pagar:</td>
                            <td style="font-size:25px" colspan="2">${{factura.finalPrice}}</td>
                        </tr>
                    </tbody>
                </table>

                <table id="tabla" class="display table table-striped table-hover text-nowrap mt-3" style="width:100%">
                    
                    <thead style="background-color: var(--verde); color: var(--verdeocuro);" >
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Vr. Unitario</th>
                            <th scope="col">Vr. Total</th>
                        </tr>
                    </thead>
                   <tbody>
                        {% for detail in registers %}
                            {% if detail.status %}
                            <tr>
                                    <td>{{detail.id}}</td>
                                    <td>{{detail.product}}</td>
                                    <td>{{detail.amount}}</td>
                                    <td>${{detail.product.price}}</td>
                                    <td>${{detail.total}}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                   </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div>