{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block title %}Nuevo Detalle de Venta{% endblock title %}
{% load static %}
{% block contenido %}

<div>
    <section class="container bg-white p-5 h-auto" data-admin id="cuerpo" style="width: 95%">
        <h1>Factura {{title_pag}}</h1>

        <div class="col-md-8">
            <table class="display table table-striped text-center table-hover text-nowrap mt-3" style="width:100% ">
            {% if template == 'buy' %}
                <thead style="background-color: var(--verde); color: var(--verdeocuro);">
                    <tr>
                        <th id="factura" colspan="5">Compra No.{{factura.id}}</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td style="font-weight: 600" id="texto" colspan="2">Fecha:</td>
                        <td id="texto" colspan="3">{{factura.date}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 600" id="texto" colspan="2">Proveedor:</td>
                        <td id="texto" colspan="3">{{factura.user}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 600" id="texto" colspan="1">Celular:</td>
                        <td id="texto" colspan="1">{{factura.user.phone}}</td>
                        <td style="font-weight: 600" id="texto" colspan="1">Correo:</td>
                        <td id="texto" colspan="2">{{factura.user.email}}</td>
                    </tr>
                    <tr>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td style="font-weight: 600; font-size:20px" id="texto" colspan="1">Total a pagar:</td>
                        <td id="texto" style="font-size:25px" colspan="2">${{factura.finalPrice}}</td>
                    </tr>
                </tbody>

            </table>

            {% elif template == 'sale' %}
                <thead style="background-color: var(--verde); color: var(--verdeocuro);">
                    <tr>
                        <th id="factura" colspan="5">Venta No.{{factura.id}}</td>
                        </tr>
                </thead>

                <tbody>
                    <tr>
                        <td style="font-weight: 600" id="texto" colspan="2">Fecha:</td>
                        <td id="texto" colspan="3">{{factura.date}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 600" id="texto" colspan="2">Cliente:</td>
                        <td id="texto" colspan="3">{{factura.client}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 600" id="texto" colspan="1">Documento:</td>
                        <td id="texto" colspan="1">{{factura.nDocument}}</td>
                        <td style="font-weight: 600" id="texto" colspan="1">Dirección:</td>
                        <td id="texto" colspan="2">{{factura.address}}</td>
                    </tr>
                    <tr>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td style="font-weight: 600; font-size:20px" id="texto" colspan="1">Total a pagar:</td>
                        <td id="texto" style="font-size:25px" colspan="2">${{factura.finalPrice}}</td>
                    </tr>
                </tbody>
            </table>

            {% endif %}

            <table class="display table table-striped table-hover text-nowrap mt-3" style="width:100%">
                <thead style="background-color: var(--verde); color: var(--verdeocuro);" >
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Vr. Unitario</th>
                        <th scope="col">Vr. Total</th>
                    </tr>
                </thead>

                <tbody>
                    {% for detail in registers %}
                        {% if detail.status %}
                        <tr>
                            <td id="texto">{{detail.product}}</td>
                            <td id="texto">{{detail.amount}}</td>
                            <td id="texto">${{detail.product.price}}</td>
                            <td id="texto">${{detail.total}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <a class="btn_agregar d-block m-auto text-center text-decoration-none py-1 rounded border border-none" href="{{url_back}}"
            style="width: 120px;">Atrás</a>
        </div>
    </section>
</div>
{% include 'partials/accesibilidad.html' %}
{% endblock %}