{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block title %}Nuevo Detalle de Compra{% endblock title %}
{% load static %}
{% block contenido %}

<div >
    <section class="container bg-white p-5 h-auto" data-admin id="cuerpo" style="width: 95%">
        <h1>Factura {{title_pag}}</h1>
        <div class="row my-4">
            </div>
            <div class="col-md-8">

                <table class="display table table-striped text-center table-hover text-nowrap mt-3" style="width:100% ">
                    <thead style="background-color: var(--verde); color: var(--verdeocuro);">
                        <tr><th colspan="5">Compra No.{{register_id.id}}</td></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="font-weight: 600" colspan="2">Fecha:</td>
                            <td colspan="3">{{factura.date}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: 600" colspan="2">Proveedor:</td>
                            <td colspan="3">{{factura.user}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: 600" colspan="1">Celular:</td>
                            <td colspan="1">{{factura.user.phone}}</td>
                            <td style="font-weight: 600" colspan="1">Correo:</td>
                            <td colspan="2">{{factura.user.email}}</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td style="font-weight: 600; font-size:20px" colspan="1">Total a pagar:</td>
                            <td style="font-size:25px" colspan="2">${{factura.finalPrice}}</td>
                        </tr>
                    </tbody>
                </table>



                <table id="tabla" class="display table table-striped table-hover text-nowrap mt-3" style="width:100%">
                    
                    <thead style="background-color: var(--verde); color: var(--verdeocuro);" >
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Vr. Unitario</th>
                            <th scope="col">Vr. Total</th>
                        </tr>
                    </thead>
                   <tbody>
                        {% for detail in registers %}
                            {% if detail.status %}
                            <tr>
                                    <td>{{detail.product}}</td>
                                    <td>{{detail.amount}}</td>
                                    <td>${{detail.product.price}}</td>
                                    <td>${{detail.total}}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                   </tbody>
                </table>

                <a class="btn_agregar d-block m-auto text-center text-decoration-none py-1 rounded border border-none" href="{{url_back}}"
                style="width: 120px;" >Atrás</a>
        </div>
    </section>
</div>
{% include 'partials/accesibilidad.html' %}
{% endblock %}