{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block title %}{{title_pag}} - El Nopal Supermercado{% endblock title %}
{% load static %}
{% block contenido %}
<form action="#" class="form my-5 mx-auto px-4 py-2 border border-2">
    <h1 class="text-center ">Compra</h1>
    <!-- Progress bar -->
    <div class="progressbar position-relative d-flex justify-content-between">
      <div class="progress" id="progress"></div>

      <div
        class="progress-step d-flex justify-content-center align-items-center rounded-pill" data-title="Registro Compra"></div>
      <div class="progress-step d-flex justify-content-center align-items-center rounded-pill" data-title="Registro Producto"></div>
    </div>

    <!-- Steps -->
    <div class="form-step form-step-active ">
      <div class="input-group mx-1 my-3">
        <label for="provider">Proveedor</label>
        <input class="mx-4" type="text" name="provider" id="provider" required/>
      </div>
      <div class="input-group mx-1 my-3">
        <label for="payment">Método de pago</label>
        <select  class="mx-4" type="select" name="payment" id="payment" required/>
            <option>Datáfono</option>
            <option>Efectivo</option>
            <option>Transacción</option>

        </select>
      </div>
      <div class="">
        <a href="#" class="btn btn-next btn-success width-50 ml-auto">Siguiente</a>
      </div>
    </div>
    <div class="form-step">
      <div class="input-group mx-1 my-3">
        <label for="product">Producto</label>
        <select  class="mx-4" type="select" name="product" id="product" required/>

        </select>
      </div>
      <div class="input-group mx-1 my-3">
        <label for="amount">Cantidad</label>
        <input  class="mx-4" type="number" name="amount" id="amount" required/>
      </div>
      <div class=" position-relative">
        <a href="#" class="btn btn-prev btn-outline-success">Anterior</a>
        <input type="submit" id="modal-status" value="Agregar" class="btn btn-success position-absolute end-0" />
        </div>
     
    </div>
  </form>


{% endblock %}